.providers {
  width: 800px;
  margin-bottom: 1em;
}

.provider {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 1em;
}

.fa {
  display: block !important;
}

.auth-data pre {
  width: 800px;
  background-color: #CCC;
  overflow-x: scroll;
  padding: 1em;
}
