/* ================================================================================
    #Fonts
================================================================================ */

@font-face {
    font-family: 'Freight Sans Pro Book';
    src: url('fonts/freigsanprobook-webfont.eot');
    src: url('fonts/freigsanprobook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprobook-webfont.woff') format('woff'),
         url('fonts/freigsanprobook-webfont.ttf') format('truetype'),
         url('fonts/freigsanprobook-webfont.svg#freightsans_probook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freight Sans Pro Medium';
    src: url('fonts/freigsanpromed-webfont.eot');
    src: url('fonts/freigsanpromed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanpromed-webfont.woff') format('woff'),
         url('fonts/freigsanpromed-webfont.ttf') format('truetype'),
         url('fonts/freigsanpromed-webfont.svg#freightsans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freight Sans Pro Semibold';
    src: url('fonts/freigsanprosem-webfont.eot');
    src: url('fonts/freigsanprosem-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprosem-webfont.woff') format('woff'),
         url('fonts/freigsanprosem-webfont.ttf') format('truetype'),
         url('fonts/freigsanprosem-webfont.svg#freightsans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monaco';
    src: url('fonts/monaco-webfont.eot');
    src: url('fonts/monaco-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/monaco-webfont.woff') format('woff'),
         url('fonts/monaco-webfont.ttf') format('truetype'),
         url('fonts/monaco-webfont.svg#monacoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
